body {
    background-color:mediumseagreen ;
}

h1 {
    background-color:black ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-right: 90%;
}

h3{
    background-color: brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
margin-right: 95%;
}
button{
    background-color: pink;
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}